.bills-manager{

    display: grid;

    grid-template-rows: min-content auto;

    height: 100%;

    justify-items: center;

    overflow: hidden;

    padding-top: 25px;

}

.bills-manager .search{

    width: 60%;

    height: 80px;

    text-indent: 1.5em;

    font-size: 2em;

    margin-bottom: 30px;

}

.bills-manager-container{

    overflow-y: scroll;

    padding-left: 40px;

    padding-right: 40px;

    display: flex;

    flex-direction: column;

    align-items: center;

    width: 100%;

    height: 100%;

}

.bills-manager-container .bill{

    display: grid;

    width: 100%;

    grid-template-rows: repeat(2, 1fr) min-content;

    background-color: rgb(255, 255, 255);

    padding-top: 20px;
    padding-bottom: 20px;

    border-radius: 5px;

    margin-bottom: 20px;

    gap: 15px;

    position: relative;

}

.bills-manager-container .bill .print{

    position: absolute;

    top: 10px;
    right: 10px;

    width: 50px;
    height: 50px;

    background-image: url(./img/print.svg);

    border-radius: 4px;

    background-size: 100% 100%;

    cursor: pointer;

    background-color: black;

}

.bills-manager-container .bill .top{

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    font-size: 2em;

    font-weight: bold;

    border-bottom: 1px black solid;

    padding-left: 100px;
    padding-right: 100px;

}

.bills-manager-container .bill .top > *:first-child{

    margin-bottom: 5px;

}

.bills-manager-container .bill .top > *{

    margin-bottom: 10px;

}

.bills-manager-container .bill .middle h3{

    margin: 0;

    display: flex;

    justify-content: center;

    font-size: 2em;

    margin-bottom: 15px;

}

.bills-manager-container .bill .middle .product{

    display: flex;

    width: 100%;

    justify-content: space-evenly;

    font-size: 1.5em;

}

.bills-manager-container .bill .bottom{

    display: flex;

    justify-content: space-evenly;

    font-size: 1.5em;

    background-color: black;

    color: rgb(255, 255, 255);

    padding: 10px;

}