header{

    width: 100%;

    height: 100px;

    display: grid;

    grid-template-columns: repeat(4 ,1fr);

    box-sizing: border-box;

    gap: 10px;

    padding: 10px;

    margin-bottom: 40px;

}

header > *{

    font-size: 1.7em;

}