header{

    width: 100%;

    height: 100px;

    display: flex;

    justify-content: space-evenly;

    box-sizing: border-box;

    padding: 10px;

    background-color: rgb(24, 11, 133);

    justify-items: center;

    align-items: center;

}

header > *{

    font-size: 1.4em;

    background-color: transparent;

    color: white;

    padding: 15px;

    padding-left: 25px;
    padding-right: 25px;

    border-radius: 20px;

    background-color: rgb(36, 16, 219);

    width: max-content;

    height: max-content;

}