
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

body{

    margin: 0;

    font-family: Roboto;

    --title: 'Libre Baskerville', serif;

    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

}

*,
*::before,
*::after{

    box-sizing: border-box;

}

#root{

    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-rows: min-content auto ;

}

input{

    outline: none;

    border: none;

    border-radius: 50px;

    box-shadow: -3px 3px 3px -2px rgb(0, 0, 0);

}

h2{

    font-family: var(--title);

}

button{

    outline: none;

    border: none;

    border-radius: 2px;

    cursor: pointer;

    box-shadow: -3px 3px 3px -2px rgb(0, 0, 0);

}

p, h2{

    margin: 0;

}