
@font-face {

    font-family: 'Title';

    src: url(./fonts/Redwing-Medium.otf);

}
@font-face {

    font-family: 'Cairo';

    src: url(./fonts/Cairo-Regular.ttf);

}

body{

    margin: 0;

    font-family: 'Cairo', sans-serif;

    --title: 'Title', serif;

    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

}

h1,h2,h3,h4{

    font-family: var(--title);

}

*,
*::before,
*::after{

    box-sizing: border-box;

}

#root{

    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-rows: min-content auto ;

}

p{

    width: max-content;

}

input{

    outline: none;

    border: none;

    border-radius: 50px;

    box-shadow: -3px 3px 3px -2px rgb(0, 0, 0);

    font-family: inherit;

}

button{

    outline: none;

    border: none;

    border-radius: 2px;

    cursor: pointer;

    box-shadow: -3px 3px 3px -2px rgb(0, 0, 0);

    font-family: inherit;

    user-select: none;

}

p, h2{

    margin: 0;

}