
.product-manager-container{

    display: grid;

    width: 100%;

    height: 100%;

    grid-template-rows: min-content 0.9fr;

    overflow: hidden;

    padding-left: 20px;

    padding-right: 20px;

    gap: 30px;

    padding-top: 25px;

}

.main-control{

    height: 70px;

    display: grid;

    grid-template-columns: 0.7fr 0.6fr ;

    gap: 20px;

}

.main-control *{

    font-size: 1.5em;

}

.main-control .input-container{

    width: 100%;
    height: 100%;

    position: relative;

    display: flex;

    align-items: center;

}

.main-control .input-container .lupa{

    position: absolute;

    background-size: 100% 100%;

    background-repeat: no-repeat;

    width: 25px;

    height: 25px;

    background-image: url(./img/lupa.svg);

    left: 0.8em;

}

.main-control input{

    width: 100%;
    height: 100%;

    border-radius: 50px;

    text-indent: 2em;

    box-shadow: -2px 2px 3px -2px rgb(0, 0, 0);

}

.main-control input::placeholder{

    font-size: 1.8rem;

}

.main-control button{

    position: relative;

    border-radius: 50px;

    box-shadow: -2px 2px 3px -2px rgb(0, 0, 0);

}

.main-control button .plus{

    position: absolute;

    background-image: url(./img/plus.svg);

    background-size: 100% 100%;

    background-repeat: no-repeat;

    width: 30px;

    height: 30px;

    left: 1em;

}

main{

    padding-left: 10px;

    padding-right: 10px;

    width: 100%;

    height: 100%;

    display: flex;

    flex-direction: column;

    align-items: center;

    overflow-x: hidden;

}

main .order-bar{

    width: 100%;

    display: grid;

    grid-template-columns: repeat(6, 1fr);

    justify-items: center;

    margin-bottom: 20px;

    font-weight: bold;

    font-size: 1.3em;

    font-style: italic;

}

main .order-bar p{

    cursor: pointer;

    user-select: none;

}

main .list-items{

    height: 100%;

    width: 100%;

    overflow-y: scroll;

    padding-right: 5px;
    padding-left: 5px;

}

main .product-item{

    display: grid;

    border-radius: 3px;

    grid-template-columns: repeat(6, 1fr);

    align-items: center;

    justify-items: center;

    gap: 20px;

    width: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    padding: 5px;

    padding-left: 20px;

    box-sizing: border-box;

    margin-bottom: 20px;

    color: white;

    height: 70px;

    font-size: 1em;

    position: relative;

}

main .product-item:focus{

    outline: none;

    background-color: rgba(0, 0, 0, 0.7);

}

main .product-item .modal{

    position: absolute;

    width: 100%;

    height: 100%;

    background-color: rgba(0, 0, 0, 0.8);

    backdrop-filter: blur(5px);

    display: flex;

    justify-content: space-around;

    z-index: 100;

    padding: 10px;

    user-select: none;

}

main .product-item .modal > button{

    width: 300px;

    color: white;

    background-color: red;

    text-shadow: 0 0 3px black;

}

main .product-item .modal > button:first-child{

    background-color: green;

}

main .product-item .delete{

    display: flex;

    align-items: center;

    border-right: 10px rgb(255, 0, 0) solid;
    border-left: 10px transparent solid;

}

main .product-item .delete .trash{

    background-image: url(./img/trash.svg);

    background-size: 100% 100%;

    width: 25px;

    height: 25px;

    margin-right: 8px;

}

main .product-item .code{

    font-style: italic;

}


main .product-item button{

    font-size: 1.3em;

    width: 100%;
    height: 100%;

    font-weight: bold;

}

main .product-item .edit-data{

    width: 100%;

    height: 100%;

    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: 5px;

    font-size: 13px;

}

main .product-item .edit-data .cancel{

    grid-column: 1/3;

}

main .product-item input{

    font-size: inherit;

    width: 100%;

    font-weight: bold;

    padding: 5px;

    text-indent: 5px;

}

main .product-item input:disabled{

    background-color: transparent;

    color: white;

    box-shadow: none;

}

main .product-item input:last-child{

    margin-bottom: 0;

}